<hr>
<div class="episode" *ngIf="episode">
  <div class="episode__wrapper">
    <div class="episode__image">
      <img *ngIf="episode.stillPath" class="image" src="{{episode.getPoster}}" alt="{{episode.name}}">
    </div>
    <div class="episode__content">
      <h3 class="title">{{episode.name}}</h3>
      <p><span>Air date:</span> {{episode.airDate | date}}</p>
      <p><span>Episode number:</span> {{episode.episodeNumber}}</p>
      <p><span>Overview:</span> {{episode.overview}}</p>
      <p><span>Production code:</span> {{episode.productionCode}}</p>
      <p><span>Season number:</span> {{episode.seasonNumber}}</p>
      <p><span>Vote average:</span> {{episode.voteAverage}}</p>
      <p><span>Vote count:</span> {{episode.voteCount}}</p>
    </div>
  </div>
  <app-crew [crew]="episode.crew"></app-crew>
  <app-guests-stars [guestStars]="episode.guestStars"></app-guests-stars>
</div>
<hr>
