@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/mixins";

hr {
  background: #333235;
}

.episode {
  padding: 1rem;

  &__wrapper {
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__image {
    padding: 1rem;
  }

  &__content {
    padding: 1rem;
  }

  p {
    color: white;
    margin: 0;
    padding: 0;

    span {
      text-transform: capitalize;
      font-weight: 200;
      margin-right: 1rem;
    }
  }

  .image {
    width: 100%;
    min-width: auto;

    @include media-breakpoint-up(sm) {
      min-width: 40rem;
    }
  }
}


