<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">MOVIES</a>
    </div>

    <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" (click)="closeModal()" class="nav-item">
          <a routerLink="/tv-show" class="nav-link">TV Shows</a>
        </li>
        <li routerLinkActive="active" (click)="closeModal()" class="nav-item">
          <a routerLink="/movies" class="nav-link">Movies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
