<a (click)="clickItemHandler(slide)"
   routerLinkActive="active">
  <div class="slide-item"
       [ngClass]="{
       'first-item': slideIndex === 0 && prevSlideAction,
       'first-item-active': slideIndex === 0 && nextSlideAction
        }"
       [ngStyle]="{
      visibility: isLoaded ?  'visible' : 'hidden',
      transform : 'translate('+ slideIndex * slideIndex  + 'rem, '+ 15 * -slideIndex + 'px) scale(' + (1 - slideIndex/25) + ')'
      }"
       [@appearingImage]="isLoaded"
  >
    <div class="slide-image">
      <img alt="{{slide.name}}" src="{{slide.getPoster}}" (load)="imageLoaded()" [ngClass]="{'is-loaded':isLoaded}"/>
    </div>
    <div class="slide-shadow" [style.backgroundImage]="'url('+slide.getPoster+')'"></div>
    <a [routerLink]="[slide.id]"
       class="action-icon"
       routerLinkActive="active">
      <fa-icon [icon]="faArrowCircleRight" class="float-right" [ngStyle]="{'color': 'white'}"></fa-icon>
    </a>
  </div>
</a>

