.production {
  background-color: black;
  padding: 2rem;
}

.section--title {
  color: white;
}

.production--wrapper {
  display: flex;
}

.production--item {
  width: 10rem;
  padding: 1rem;
  color: white;
  font-weight: 100;
}

.production--image img {
  width: 100%;
}
