.tv-show {
  display: flex;
  padding: 2rem;
}

.tv-show-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.tv-show-content {
  padding: 2rem;
}

p{
  margin: 0;
}
