<div class="container">

  <div *ngFor="let palette of colorPalette">
    <p [ngStyle]="{'color': palette.color}">{{palette|json}}</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>This is simple gallery</h3>
      <div class="row">
        <app-gallery-add></app-gallery-add>

        <div class="gallery">

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off" (click)="sortByDateHandle()"> Sort by
              date
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> Sort by name
            </label>
          </div>

          <h2>Gallery</h2>

          <div class="row">
            <app-gallery-item
              class="col-xs-12 col-md-4"
              *ngFor="let item of imageItems"
              [galleryItem]="item"
            ></app-gallery-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
