<div class="gallery">
  <h3>This is simple gallery 2</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-gallery-add></app-gallery-add>
      </div>
      <div class="col-xs-12">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" (click)="sortByDateHandle()"> Sort by
            date
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Sort by name
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Gallery</h2>
    <div class="gallery--list">
      <div class="row">
        <app-gallery-item
          class="gallery-item col-xs-12 col-md-4"
          *ngFor="let item of imageItems"
          [galleryItem]="item"
        ></app-gallery-item>
      </div>
    </div>
  </div>
</div>
