<div class="card">
  <div class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="card-header">
      <h1>Hello World</h1>
    </div>
    <div class="card-content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti quas
        sapiente qui ipsa, atque illo fuga nobis eligendi quibusdam perspiciatis
        in molestiae sit aspernatur dicta quasi facere mollitia repellat
        dolorum.
      </p>
    </div>
  </div>
  <div class="list" id="list"></div>
</div>
