<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="movies" *ngIf="movies">
  <div class="container-fluid">

    <div *ngIf="previousActiveItem" [ngClass]="{'backDrops-cover':true,'animationActivated':animationActivated}">
      <img src="{{previousActiveItem.getBackDrops}}" alt="" class="image"/>
    </div>

    <div class="cover" *ngIf="activeItem"
         [ngStyle]=activeItemParameters>
      <img src="{{activeItem.getBackDrops}}" alt="" class="image"/>
    </div>

    <div class="main-content">
      <div class="row flex-grow-1">
        <div class="col-xs-12 col-md-5 align-self-center">
          <div class="content" *ngIf="activeItem">
            <div class="overflow">
              <p class="title" [@appearingText]>{{activeItem.title}}</p>
            </div>
            <div class="overflow">
              <p class="description" [@appearingTextDelay]>{{activeItem.overview}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-7 align-self-end">
          <div class="slider-wrapper">
            <div class="slider">
              <div
                *ngFor="let movie of movies; let i = index;"
                class="slide"
                [ngStyle]="{
                  transform : 'translate('+15 * i+'rem, 0)',
                  transitionDelay: .2*i+'s',
                  transition: (i + .5) +'s'
                 }"
                (click)="activeElementClick($event)"
              >
                <img
                  src="{{movie.getBackDrops}}"
                  alt=""
                  class="image">
                <a [routerLink]="[movie.id]"
                   routerLinkActive="active">detail
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
