.movies {
  &__item {
    min-height: 100vh;
    width: 100%;
    position: relative;
  }

  &__cover {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-attachment: fixed;
    position: absolute;
  }

  &__gradient {
    background: linear-gradient(-45deg, black 5%, transparent 30%, transparent 70%, black 90%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__content {
    z-index: 10;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
  }

  &__image {
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  }
}

h3, h2, h4, p {
  color: white
}
