.movies {
  &__item {
    min-height: 100vh;
    width: 100%;
    position: relative;
  }

  &__gradient {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-attachment: fixed;
    position: absolute;
  }
}
