<ng-container class="information" *ngIf="information">
  <h3 class="title"> {{information.name}}</h3>
  <p><span>Original name:</span> {{information.originalName}}</p>
  <!--  <img src="{{information.getBackDrops}}" alt="{{information.name}}">-->

  <div class="ganres">
    <p *ngFor="let ganre of information.genres">
      {{ganre.name}}
    </p>
  </div>

  <a href="{{information.homepage}}">Home page</a>

  <p><span>in production:</span>{{information.inProduction}}</p>

  <p><span>Languages:</span>{{information.languages}}</p>

  <p><span>Current Episode</span>{{information.episodeRunTime}}</p>
  <p><span>First air date:</span> {{information.firstAirDate | date}}</p>

  <p><span>Last Air Date:</span> {{information.lastAirDate | date}}</p>

  <p><span>Status</span> {{information.status}}</p>
  <p><span>Type:</span> {{information.type}}</p>
  <p><span>Vote average:</span> {{information.voteAverage}}</p>
  <p><span>Vote count:</span> {{information.voteCount}}</p>
  <p><span>Number of episodes:</span> {{information.numberOfEpisodes}}</p>
  <p><span>Number of Seasons:</span> {{information.numberOfSeasons}}</p>
  <p><span>Origin Country:</span> {{information.originCountry}}</p>
  <p><span>Original language:</span> {{information.originalLanguage}}</p>
  <p><span>Popularity:</span> {{information.popularity}}</p>

  <h4 class="description-title">Description:</h4>
  <p class="description"> {{information.overview}}</p>


</ng-container>
