.crew {
  padding: 1rem;
  overflow-x: auto;

  &__wrapper {
    display: flex;
  }

  &__item {
    padding: 1rem;
  }

  .image {
    width: 6rem;
    border-radius: 50%;
    height: 6rem;
    object-fit: cover;
    object-position: center;
  }
}
