.network {
  display: flex;
  justify-content: space-around;
  background: radial-gradient(circle at 15% 15%, #fff, #333);
  padding: 2rem 0;
  align-items: center;
}

.network-item {
  img {
    height: auto;
    max-width: 8rem;
  }

  p {
    margin: 0;
    text-align: center;
  }
}
