<div class="gallery-item--wrapper" *ngIf="colorPalette.length"
     [ngStyle]="{'background-image': 'url('+galleryItem.imageUrl+')'}">
  <div class="gallery-item--image">
    <div class="content">
      <h3 class="gallery-item--title" [ngStyle]="{'color': colorPalette[1] | colorToHEX}">{{galleryItem.title}}</h3>
      <p [ngStyle]="{'color': colorPalette[3] | colorToHEX}">{{galleryItem.createdAt|date}}</p>
      <a
        [ngStyle]="{'color': colorPalette[2] | colorToHEX}"
        [routerLink]="[galleryItem.id]"
        routerLinkActive="active"
      >Details</a>
    </div>
  </div>
</div>
